.App {
  text-align: center;
}

body,
html {
  background: antiquewhite;
}
.hidden {
  display: none;
}
.dice-container {
  background: #fff;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 20px;
}

.dice {
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 5px;
}
